*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #333333;
    text-align: center;
}

.navigation{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px ;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    display: inline-block; /* Add this line */
    padding: 5px; /* Add padding for better clickability */
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 50%;
    bottom: -6px;
    transition: 0.5s;
    transform: translateX(-50%); /* Center the underline */
}

nav ul li a:hover::after {
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #17134d; /* Maroon */
    color: #fff;
    text-align: center;
    padding: 20px;
}


.contact-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

.contact-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-left img {
    max-width: 50%; /* Set maximum width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add border-radius for rounded corners */
}


.contact-right {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: #1a1a1a;
    border-radius: 10px;
    color: #fff; /* Set text color to white */
}

.social-buttons a {
    display: inline-block;
    background-color: #19a37e; /* WhatsApp green */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

.social-buttons a.email-button {
    background-color: #19a37e; /* Google blue */
}

.social-buttons a.linkedin-button {
    background-color: #19a37e; /* LinkedIn blue */
}


.subtitle {
    font-size: 14px;
    margin-bottom: 20px;
}

.contact-address {
    margin-top: 30px;
}

.contact-address h4, .contact-address p {
    margin-bottom: 10px;
}

.contact-address p:last-child {
    margin-bottom: 30px; /* Adjust the bottom margin for the last paragraph */
}



footer {
    background-color: #ddd; /* Lavender Blue */
    color: #000000;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

.social-links a {
    color: #000000;
    text-decoration: none;
}

.social-links a:hover{
    text-decoration:underline;
}

